@model IEnumerable<AdminLTE.MVC.Models.Blocos>

<p>
    @*<a asp-action="Create"> @Html.DisplayFor(model => model.Condominio.Nome)</a>*@
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bloco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Condominio)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bloco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condominio.Endereco)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BlocosId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BlocosId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BlocosId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
